<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestNg Automation Demo" guice-stage="DEVELOPMENT">
  <test name= "Different Test Features">
  		<parameter name= "browser" value= "chrome"/>
	  	<parameter name= "url" value= "https://www.facebook.com/r.php"/>
  		<parameter name= "username" value= "test@yahoo.com"/>
  		<parameter name= "password" value= "test@123456"/>
    <classes>
      <class name="com.parameterTest.ParamenterTestDemo"/>
    </classes>
  </test>
</suite> 